@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$slate-blue: hsl(255, 100%, 67%);
$royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

$max-width: 420px;

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: $light-lavender;
  min-width: 375px;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  background-color: $white;
  max-width: $max-width;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-image: linear-gradient($slate-blue, $royal-blue);
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


    figure {
      background-image: linear-gradient($violet-blue, $persian-blue);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc($max-width * 0.33);
      height: calc($max-width * 0.33);


      h1 {
      font-size: 55px;
      margin: 0;
      color: $white;
      text-align: center;
      }

    }


    h2 {
      margin: 10px auto;
      color: $white;
      font-weight: normal;
    }

    p {
      text-align: center;
      margin: 0;
    }
  }


  article {
    display: flex;
    flex-direction: column;
    padding: 25px;

    h3 {
      color: $dark-gray-blue;
      margin: 0 0 25px 0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        border-radius: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        font-weight: bold;


        &.reaction {
          background-color: rgba($light-red, 7%);
          color: $light-red;
        }

        &.memory {
          background-color: rgba($orangey-yellow, 7%);
          color: $orangey-yellow;
        }

        &.verbal {
          background-color: rgba($green-teal, 7%);
          color: $green-teal;
        }

        &.visual {
          background-color: rgba($cobalt-blue, 7%);
          color: $cobalt-blue;
        }

        & .icon {
          margin-right: 10px;
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        p:nth-of-type(1) {
          flex-grow: 2;
        }

        p:nth-of-type(2) {
          color: rgba($color: $dark-gray-blue, $alpha: 0.5);

          & span {
            color: $dark-gray-blue;
          }
        }
      }
    }
  }

  .icon-reaction {
    background: url("./assets/images/icon-reaction.svg");
  }

  .icon-memory {
    background: url("./assets/images/icon-memory.svg");
  }

  .icon-verbal {
    background: url("./assets/images/icon-verbal.svg");
  }

  .icon-visual {
    background: url("./assets/images/icon-visual.svg");
  }

  button {
    padding: 20px;
    border-radius: 30px;
    border: none;
    margin: 25px 0;
    color: $pale-blue;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $dark-gray-blue;

    &:hover {
      background-image: linear-gradient($slate-blue, $royal-blue);
    }
  }
}


@media screen and (min-width: calc($max-width * 2)) {
  main {
    position: absolute;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    max-width: unset;
    border-radius: 30px;
    box-shadow: 0 10px 60px rgba(0,0,0,.2);

    section {
      flex-basis: 50%;
      border-radius: 30px;
    }

    article {
      flex-basis: 50%;
    }
  }
}
